* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif !important;
   scroll-behavior: smooth;
   /* scrollbar-width: thin; */
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
   background-color: #eee;
   width: 4px !important;
   height: 5px !important;
}

*::-webkit-scrollbar-track {
   /* background: #aaa; */
   border-radius: 8px;

   width: 2px !important;
   height: 5px !important;
}

*::-webkit-scrollbar-thumb {
   background: #aaa;
   border-radius: 8px;
   width: 2px !important;
   height: 5px !important;
}

/* light #746be3 */

/* dark #6259CA */
